.LogsViewer {
  .LogsViewer__header {
    height: 32px;
    background: linear-gradient(180deg, #35363a 80%, #232326 100%);
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    display: flex;
    align-items: center;
    padding-left: 16px;
    border-bottom: 1px solid #222;
  }
  .red-circle {
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: #ff5f56;
    border: 1px solid #e0443e;
    box-shadow: 0 0 2px #e0443e;
  }
  .yellow-circle {
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: #ffbd2e;
    border: 1px solid #dea123;
    box-shadow: 0 0 2px #dea123;
  }
  .green-circle {
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: #27c93f;
    border: 1px solid #13a10e;
    box-shadow: 0 0 2px #13a10e;
  }
}
